<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [17]:
## 과제 4-2 


import pandas as pd 
from sklearn.model_selection import train_test_split
X = pd.read_csv('../../data/빅분기_X_train.csv',encoding='cp949')
y = pd.read_csv('../../data/빅분기_y_train.csv',encoding='cp949')

In [18]:
X

,cust_id,총구매액,최대구매액,환불금액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기
0,0,68282840,11264000,6860000.0,기타,강남점,19,3.894737,0.527027,17
1,1,2136000,2136000,300000.0,스포츠,잠실점,2,1.500000,0.000000,1
2,2,3197000,1639000,NaN,남성 캐주얼,관악점,2,2.000000,0.000000,1
3,3,16077620,4935000,NaN,기타,광주점,18,2.444444,0.318182,16
4,4,29050000,24000000,NaN,보석,본 점,2,1.500000,0.000000,85
...,...,...,...,...,...,...,...,...,...,...
3495,3495,3175200,3042900,NaN,골프,본 점,1,2.000000,1.000000,0
3496,3496,29628600,7200000,6049600.0,시티웨어,부산본점,8,1.625000,0.461538,40
3497,3497,75000,75000,NaN,주방용품,창원점,1,1.000000,0.000000,0
3498,3498,1875000,1000000,NaN,화장품,본 점,2,1.000000,0.000000,39
3499,3499,263101550,34632000,5973000.0,기타,본 점,38,2.421053,0.467391,8

In [19]:
# 빅분기 X_train, 빅분기 y_train 데이터의 cust_id를 인덱스로 설정하세요 
X.set_index('cust_id', inplace=True)
y.set_index('cust_id', inplace=True)

In [21]:
# X_train과 y_train데이터를 y값을 기준으로 층화추출하여 7:3으로 데이터를 나누세요 (X_train, X_val, y_train,y_val)
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.3, stratify =y, random_state=2022)

In [23]:
y_val.value_counts()

gender
0         655
1         395
dtype: int64

In [28]:
# X_train과 X_val의 수치형 변수들만 StandardScaler를 이용하여 표준화 시키세요. 
from sklearn.preprocessing import StandardScaler

cols = [['총구매액', '최대구매액', '환불금액', '내점일수','내점당구매건수', '주말방문비율', '구매주기']]
X_train_num = X_train[['총구매액', '최대구매액', '환불금액', '내점일수','내점당구매건수', '주말방문비율', '구매주기']]
X_val_num = X_val[['총구매액', '최대구매액', '환불금액', '내점일수','내점당구매건수', '주말방문비율', '구매주기']]
scaler = StandardScaler()

X_train_num = scaler.fit_transform(X_train_num)
X_val_num = scaler.fit_transform(X_val_num)

X_train_num = pd.DataFrame(X_train_num, columns = cols)
X_val_num = pd.DataFrame(X_val_num, columns = cols)

X_train_num

          총구매액     최대구매액      환불금액      내점일수   내점당구매건수    주말방문비율      구매주기
0    -0.384839 -0.392156       NaN -0.458816 -0.438486 -0.577885  1.037697
1    -0.538583 -0.632636       NaN -0.496262 -0.891508  0.399806  1.157660
2     0.109885 -0.309700  0.214735  2.050082  0.244720  0.026580 -0.681787
3    -0.497840 -0.530483       NaN -0.608601 -0.800904 -1.066730  3.796868
4    -0.229059 -0.307415       NaN  0.102878 -0.043121  0.530165 -0.281907
...        ...       ...       ...       ...       ...       ...       ...
2445 -0.559038 -0.659602       NaN -0.571154  1.056487  1.094481 -0.761763
2446 -0.562093 -0.648348       NaN -0.683493 -0.982112 -1.066730 -0.841739
2447 -0.533046 -0.519960 -0.471120 -0.571154 -0.302579  0.454122  1.157660
2448 -0.162899  0.112655       NaN -0.421370 -0.642346 -0.013832  0.477865
2449 -0.523033 -0.470804       NaN -0.683493  0.105140 -1.066730 -0.841739

[2450 rows x 7 columns]